:root{
  --textGray: gray;
  --textGrayHover: rgb(77, 77, 77);
  --textWarning: #ffd43b;
  --textCancelled: red;
  --textInProgress: blue;
  --textOnHold: gray;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

.text-gray{
  color: var(--textGray);
}
.text-warning{
  color: var(--textWarning);
}

.table td,
.table th {
  vertical-align: middle;
  /* color: rgb(114, 114, 114) !important; */
  padding: 10px;
  white-space: nowrap;
}

.cursor-pointer{
  cursor: pointer;
}

 .tab-link{
  color: var(--textGray);
}
.tab-link:hover{
  color: var(--textGrayHover);
}

.active-navbar{
  color: var(--textGrayHover);
  font-weight: bold;
}
/*

.status-InProgress{
  color: var(--textInProgress);
}
.status-Pending{
  color: textPe;
}
.status-Cancelled{
  color: var(--textCancelled);
}
.status-OnHold{
  color: var(--textOnHold);
} */