:root{
  --textGray: gray;
  --textGrayHover: rgb(77, 77, 77);
  --textWarning: #ffd43b;
  --textCancelled: red;
  --textInProgress: blue;
  --textOnHold: gray;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

.text-gray{
  color: var(--textGray);
}
.text-warning{
  color: var(--textWarning);
}

.table td,
.table th {
  vertical-align: middle;
  /* color: rgb(114, 114, 114) !important; */
  padding: 10px;
  white-space: nowrap;
}

.cursor-pointer{
  cursor: pointer;
}

 .tab-link{
  color: var(--textGray);
}
.tab-link:hover{
  color: var(--textGrayHover);
}

.active-navbar{
  color: var(--textGrayHover);
  font-weight: bold;
}

.page-link{
  color: black !important;
}
.active>.page-link{
  background-color: var(--textGray) !important;
  color: white !important;
  border-color: white !important;
  box-shadow: none !important;
}

#notification-list>.dropdown-item{
  background-color: white !important;
  color: black !important;
  width: 400px; 
  overflow: hidden; 
  white-space: normal;
}

#notification-list>.dropdown-item:focus{
  color: black !important;
}
#notification-list>.dropdown-item.active{
  /* background-color: var(--textGray) !important; */
  color: black !important;
}

.priority{
  padding: 5px 10px;
}
.priority.High{
  background-color: rgba(255, 0, 0, 0.534);
}
.priority.Low{
  background-color: rgba(74, 138, 74, 0.623);
}
.priority.Medium{
  background-color: rgba(217, 255, 0, 0.600);
}

.upload-file-label:hover{
  background-color: rgba(128, 128, 128, 0.493);
  /* color: white; */
}