<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
        <!-- toaster-link -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        rel="stylesheet"
      />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <link rel="stylesheet" href="../style/common.css" />
      <div id="head-placeholder"></div>
  </head>
  <body>
  <div id="navbar-container"></div>

    <div id="footer-placeholder"></div>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/Dashboard.js"></script>
  </body>
</html>
